#chat-screen {
  background-color: var(--chat-background);
  height: 500vh;
}
#chat-screen .alt-header,
#chat-screen .status-bar {
  top: 0;
  position: fixed;
  width: 100%;
  box-sizing: border-box;
  background-color: var(--chat-background);
}
.chat-timestamp {
  background-color: rgba(0, 0, 0, 0.2);
  padding: 8px 15px;
  color: rgba(255, 255, 255, 0.632);
  border-radius: 20px;
  font-size: 15px;
  margin-bottom: 25px;
}

@keyframes fadeInFromLeft {
  from {
    transform: translateX(-100px);
    opacity: 0;
  }
  to {
    transform: none;
    opacity: 1;
  }
}
@keyframes fadeInFromRight {
  from {
    transform: translateX(100px);
    opacity: 0;
  }
  to {
    transform: none;
    opacity: 1;
  }
}
.main-chat {
  margin-top: 110px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.message-row {
  width: 100%;
  display: flex;
  margin-bottom: 30px;
  animation: fadeInFromLeft 1s ease-in-out;
}
.message-row img {
  width: 50px;
  height: 50px;
  border-radius: 40%;
  margin-right: 10px;
}
.message-row__author {
  opacity: 0.8;
  font-size: 14px;
  margin-bottom: 8px;
  display: block;
}
.message-row__info {
  display: flex;
  align-items: flex-end;
}
.message-row__balloon {
  background-color: white;
  padding: 12px 15px;
  border-radius: 15px;
  border-top-left-radius: 0px;
  margin-right: 5px;
  font-size: 18px;
}
.message-row__time {
  opacity: 0.8;
  font-size: 11px;
}
.message-row--own {
  justify-content: flex-end;
  animation: fadeInFromRight 1s ease-in-out;
}
.message-row--own .message-row__balloon {
  border-radius: 15px;
  border-top-right-radius: 0px;
  background-color: var(--tomato-light);
  margin-right: 0px;
  margin-left: 5px;
}

/* elements의 순서를 바꾸는 order는 아래와 같이 사용한다. */
/*
.message-row--own .message-row__balloon {
  order: 1; /* only works flex children
}
.message-row--own .message-row__time {
  order: 0; /* only works flex children
}
*/

/* order 보다 더 간단한 방법 */
.message-row--own .message-row__info {
  flex-direction: row-reverse;
}

.reply {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: white;
  display: flex;
  justify-content: space-between;
  padding: 10px 0px;
  align-items: center;
  box-sizing: border-box;
}
.reply__column:first-child {
  width: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 10px;
}
.reply__column:last-child {
  width: 90%;
  /*position: relative;*/
  height: 45px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid var(--border-color);
  border-radius: 20px;
  margin-right: 15px;
}
.reply__column__icon {
  width: 30px;
  height: 30px;
  color: var(--font-gray);
}
.reply__column button {
  width: 43px;
  height: 43px;
  border: none;
  background-color: white;
  border-radius: 50%;
  padding: 0;
  margin-right: 1px;
}
.reply__column button:focus,
.reply__column button:active {
  outline: none;
}
.reply__column__button {
  width: 43px;
  height: 43px;
  color: var(--tomato-light);
}
.reply input {
  width: 70%;
  height: 35px;
  border: none;
  margin-left: 10px;
  font-size: 20px;
}

.reply:focus-within .reply__column:last-child {
  border-color: var(--tomato-light);
}
/*
.reply input {
  height: 30px;
  width: 100%;
  border: 1px solid var(--border-color);
  border-radius: 20px;
}

.reply__column:last-child > i,
.reply__column:last-child button {
  position: absolute;
  right: 0;
  top: 8px;
}
.reply__column:last-child > i {
  right: 25px;
}
*/
